<!DOCTYPE>
<html>

<head>
    <meta charset="utf8" />
    <title>Yolook's home</title>
    <link rel="stylesheet" href="https://zhangsens.github.io/css/index.css">
    <link rel="stylesheet" href="https://zhangsens.github.io/css/nav.css">
    <link rel="stylesheet" href="https://zhangsens.github.io/css/zhangsens.css">
</head>

<body>
    <div class="header">

        <div class="header-background"></div>
        <div class="header-nav">
            <div class="header-profile">
                <a href="https://github.com/zhangsens">
                    <img src="https://avatars4.githubusercontent.com/u/19851888?v=4&s=460">
                </a>
            </div>
            <ul>
                <li class="actived"><a href="https://zhangsens.github.io">主页</a></li>
                <li><a href="https://zhangsens.github.io/about">关于我</a></li>
            </ul>
        </div>
    </div>

    <div class="body">

        <article>
            <div class="article">
                <header>
                    <h2>canvas</h2>
                    <small>2017</small>
                </header>
                <hr>
                <app-canvas></app-canvas>
                <app-person></app-person>
            </div>
        </article>

    </div>

    <div class="footer">&copy;2017 write by Zhangs</div>
    <script src="./js/index.min.js"></script>
</body>

</html>